lib/flows/aloes/device-settings.json
[
    {
        "id": "251e24d7.558d94",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceInPrefix",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_IN_PREFIX",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "22debeb7.76ce72"
            ]
        ]
    },
    {
        "id": "22debeb7.76ce72",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "InPrefix ",
        "tooltip": "mqtt subscription route :  devEui<InPrefix>, default : -in",
        "group": "a2cd30ff.397e08",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "5a0c1f51.96187"
            ]
        ]
    },
    {
        "id": "5a0c1f51.96187",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceInPrefix",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceInPrefix",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "b1b3e489.6c9a88",
        "type": "function",
        "z": "dec89827.18a4c",
        "name": "setEnv",
        "func": "try {\n    const processEnv = global.get(\"processEnv\");\n    if (!processEnv) throw new Error(\"process.env not available\");\n    // DEVICE CONFIG\n    if (msg.payload.deviceDevEui) {\n        processEnv.DEVICE_DEVEUI = msg.payload.deviceDevEui;\n    } \n    if (msg.payload.deviceId) {\n        processEnv.DEVICE_ID = msg.payload.deviceId;\n    }\n    if (msg.payload.deviceAppKey) {\n        processEnv.DEVICE_APPKEY = msg.payload.deviceAppKey;\n    }\n    if (msg.payload.deviceType) {\n        processEnv.DEVICE_TYPE = msg.payload.deviceType;\n    }\n    if (msg.payload.deviceName) {\n        processEnv.DEVICE_NAME = msg.payload.deviceName;\n    }\n    // ALOES - MQTT CONFIG\n    if (msg.payload.deviceInPrefix) {\n        processEnv.DEVICE_IN_PREFIX = msg.payload.deviceInPrefix;\n    }\n    if (msg.payload.deviceOutPrefix) {\n        processEnv.DEVICE_OUT_PREFIX = msg.payload.deviceOutPrefix;\n    }\n    if (msg.payload.deviceInTopic) {\n        processEnv.DEVICE_IN_TOPIC = msg.payload.deviceInTopic;\n    }\n    if (env.get(\"debug\")) {\n        return [msg,msg];\n    }\n    return [msg,null];\n} catch(error){\n    return error;\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 950,
        "y": 320,
        "wires": [
            [],
            [
                "3d812681.25ed42"
            ]
        ]
    },
    {
        "id": "ed426cb4.d8a678",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceOutPrefix",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_OUT_PREFIX",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "f75c885e.4af918"
            ]
        ]
    },
    {
        "id": "f75c885e.4af918",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "OutPrefix ",
        "tooltip": "mqtt publish route :  devEui<OutPrefix>/ default : -out",
        "group": "a2cd30ff.397e08",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "ad6c87fc.2981e8"
            ]
        ]
    },
    {
        "id": "ad6c87fc.2981e8",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceOutPrefix",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceOutPrefix",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "a6670f74.fa92d8",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceInTopic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_IN_TOPIC",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "c6f25f90.dc6778"
            ]
        ]
    },
    {
        "id": "c6f25f90.dc6778",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "InTopic",
        "tooltip": "mqtt subscription route, default <devEui>-in/#",
        "group": "a2cd30ff.397e08",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "690e92c6.9391ec"
            ]
        ]
    },
    {
        "id": "690e92c6.9391ec",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceInTopic",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceInTopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "edad90cf.897e48",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceType",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_TYPE",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "29a02c44.1dcc7c"
            ]
        ]
    },
    {
        "id": "29a02c44.1dcc7c",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "Type",
        "tooltip": "",
        "group": "a2cd30ff.397e08",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "8355e089.4366a8"
            ]
        ]
    },
    {
        "id": "8355e089.4366a8",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceType",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceType",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 360,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "3d5933d5.0112bc",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceAppKey",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_APPKEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "fe943be7.f5f688"
            ]
        ]
    },
    {
        "id": "fe943be7.f5f688",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "appKey",
        "tooltip": "",
        "group": "a2cd30ff.397e08",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "cc6b07c8.83d16"
            ]
        ]
    },
    {
        "id": "cc6b07c8.83d16",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceAppKey",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceAppKey",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "41ca98ed.758a98",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "1b44154a.61b1bb"
            ]
        ]
    },
    {
        "id": "1b44154a.61b1bb",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "Id",
        "tooltip": "",
        "group": "a2cd30ff.397e08",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "5295cc2d.2436ec"
            ]
        ]
    },
    {
        "id": "5295cc2d.2436ec",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceId",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "2df20cea.2459cc",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceDevEui",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_DEVEUI",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "85c4cccb.a96728"
            ]
        ]
    },
    {
        "id": "85c4cccb.a96728",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "devEui",
        "tooltip": "",
        "group": "a2cd30ff.397e08",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "cd3e8361.ef2f8"
            ]
        ]
    },
    {
        "id": "cd3e8361.ef2f8",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceDevEui",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceDevEui",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "3d812681.25ed42",
        "type": "debug",
        "z": "dec89827.18a4c",
        "name": "deviceSettingsUpdate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "c152ff11.a4e3b8",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceName",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DEVICE_NAME",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "c3593cfd.94d0d"
            ]
        ]
    },
    {
        "id": "c3593cfd.94d0d",
        "type": "ui_text_input",
        "z": "dec89827.18a4c",
        "name": "",
        "label": "name",
        "tooltip": "",
        "group": "a2cd30ff.397e08",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "fc98ec36.cd019"
            ]
        ]
    },
    {
        "id": "fc98ec36.cd019",
        "type": "change",
        "z": "dec89827.18a4c",
        "name": "deviceName",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "b1b3e489.6c9a88"
            ]
        ]
    },
    {
        "id": "a2cd30ff.397e08",
        "type": "ui_group",
        "z": "",
        "name": "Device",
        "tab": "225c85b6.231b22",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "225c85b6.231b22",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    }
]
