lib/flows/server/node-red-settings.json
[
    {
        "id": "e1be046c.f167b8",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedHost",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NODE_RED_HOST",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "603891f6.54d67"
            ]
        ]
    },
    {
        "id": "7ba57ddf.f8a6b4",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedHost",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nodeRedHost",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "5cdbccc0.9cfff4"
            ]
        ]
    },
    {
        "id": "603891f6.54d67",
        "type": "ui_text_input",
        "z": "e8938070.da6f7",
        "name": "",
        "label": "HTTP Host",
        "tooltip": "",
        "group": "f6f7c847.45d01",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "7ba57ddf.f8a6b4"
            ]
        ]
    },
    {
        "id": "336eab48.c5dd0c",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedPort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NODE_RED_PORT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "4b362c05.efd06c"
            ]
        ]
    },
    {
        "id": "da191755.cb31f8",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedPort",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nodeRedPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "5cdbccc0.9cfff4"
            ]
        ]
    },
    {
        "id": "4b362c05.efd06c",
        "type": "ui_text_input",
        "z": "e8938070.da6f7",
        "name": "",
        "label": "HTTP Port",
        "tooltip": "",
        "group": "f6f7c847.45d01",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "da191755.cb31f8"
            ]
        ]
    },
    {
        "id": "5cdbccc0.9cfff4",
        "type": "function",
        "z": "e8938070.da6f7",
        "name": "setEnv",
        "func": "try {\n    const processEnv = global.get(\"processEnv\");\n    if (!processEnv) throw new Error(\"process.env not available\");\n    // NODE-RED CONFIG\n    if (msg.payload.nodeRedUrl) {\n        processEnv.NODE_RED_URL = msg.payload.nodeRedUrl;\n    }   \n    if (msg.payload.nodeRedPort) {\n        processEnv.NODE_RED_PORT = msg.payload.nodeRedPort;\n    }\n    if (msg.payload.nodeRedHost) {\n        processEnv.NODE_RED_HOST = msg.payload.nodeRedHost;\n    }    \n    if (msg.payload.nodeRedAdminRoot) {\n        processEnv.NODE_RED_ADMIN_ROOT = msg.payload.nodeRedAdminRoot;\n    } \n    if (msg.payload.nodeRedApiRoot) {\n        processEnv.NODE_RED_API_ROOT = msg.payload.nodeRedApiRoot;\n    }\n    if (env.get(\"debug\")) {\n        return [msg,msg];\n    }\n    return [msg,null];\n}catch(error){\n    return error;\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 910,
        "y": 180,
        "wires": [
            [],
            [
                "4394ac64.0798ac"
            ]
        ]
    },
    {
        "id": "156848e4.daad2f",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedUrl",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NODE_RED_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d3300b00.ab2c58"
            ]
        ]
    },
    {
        "id": "59fa2586.d540fc",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedUrl",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nodeRedUrl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "5cdbccc0.9cfff4"
            ]
        ]
    },
    {
        "id": "d3300b00.ab2c58",
        "type": "ui_text_input",
        "z": "e8938070.da6f7",
        "name": "",
        "label": "HTTP URL",
        "tooltip": "",
        "group": "f6f7c847.45d01",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "59fa2586.d540fc"
            ]
        ]
    },
    {
        "id": "bf6ed1c0.56d0a8",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedAdminRoot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NODE_RED_ADMIN_ROOT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "8a94d518.4e8a58"
            ]
        ]
    },
    {
        "id": "6b735768.31521",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedAdminRoot",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nodeRedAdminRoot",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "5cdbccc0.9cfff4"
            ]
        ]
    },
    {
        "id": "8a94d518.4e8a58",
        "type": "ui_text_input",
        "z": "e8938070.da6f7",
        "name": "",
        "label": "HTTP Admin Root",
        "tooltip": "URL/<admin root>",
        "group": "f6f7c847.45d01",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "6b735768.31521"
            ]
        ]
    },
    {
        "id": "72a2c971.f20dd8",
        "type": "ui_text_input",
        "z": "e8938070.da6f7",
        "name": "",
        "label": "HTTP API Root",
        "tooltip": "URL/<api root>",
        "group": "f6f7c847.45d01",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "58d4d59a.b57884"
            ]
        ]
    },
    {
        "id": "82949ce2.fdefe",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedApiRoot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NODE_RED_API_ROOT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "72a2c971.f20dd8"
            ]
        ]
    },
    {
        "id": "58d4d59a.b57884",
        "type": "change",
        "z": "e8938070.da6f7",
        "name": "nodeRedApiRoot",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nodeRedApiRoot",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "5cdbccc0.9cfff4"
            ]
        ]
    },
    {
        "id": "4394ac64.0798ac",
        "type": "debug",
        "z": "e8938070.da6f7",
        "name": "NodeRedSettingsUpdate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "f6f7c847.45d01",
        "type": "ui_group",
        "z": "",
        "name": "Server",
        "tab": "225c85b6.231b22",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "225c85b6.231b22",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    }
]
